.name-chip {
    width: fit-content;
    max-width: 140px;
    font-weight:800;
    background-color: white;
}

p {
    margin:0px;
    font-size: large;
    font-family: monospace;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}