<p>regular-chat-message works! 
    freestar
    
    
    freestar
    
    freestar
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sapien sed arcu gravida commodo. Phasellus accumsan nibh eget augue suscipit, a lobortis lectus aliquet. Aliquam placerat sagittis velit ut volutpat. Nam blandit rhoncus libero, ac eleifend nisi dapibus ut. Morbi sit amet ornare quam. Phasellus tempus blandit mi, et sagittis quam lobortis sit amet. Duis varius sed magna vitae vehicula. Sed eget velit ac nisl tempor dignissim eget nec arcu. Vivamus scelerisque dui et lorem imperdiet cursus. Vivamus quis enim non orci congue porta. Mauris at massa feugiat, eleifend sem quis, vulputate lorem. Praesent congue leo vitae lectus tempor pellentesque. Maecenas quis eros id metus vulputate tristique. Integer laoreet efficitur urna et maximus. Proin cursus elit nec mauris pretium, vel efficitur nibh blandit.</p>
